form{
    background-color: aqua;
    font-size: 30px;
}
#nayeem{
    font-size: 30px;
    background-color: chartreuse;
    width: 40%;
}
.david{
    font-size: 30px;
    margin: 20px;
    padding: 20px;
}